@import '../fonts/campton-light.css';

$primary-pink: #E53062;
$primary-purple: #3B1159;
$secondary-purple: #B1A0BD;
$white: #FFFFFF;
$black: #000000;
$font-family-campton-bold: 'Campton-Bold';
$font-family-campton-book: 'Campton-Book';
$font-family-campton-light: 'Campton-Light';
$font-family-campton: 'Campton-Medium', 'Helvetica', 'Segoe-UI', sans-serif;


//  FONTS

h1 {
  font-family: $font-family-campton-bold;
  font-size: 40px;
}

h2 {
  font-family: $font-family-campton;
  font-size: 30px;
}

h3 {
  font-family: $font-family-campton;
  font-size: 18px;
}

h4 {
  font-family: $font-family-campton-bold;
  font-size: 16px;
}

h5 {
  font-family: $font-family-campton-book;
  font-size: 14px;
}

h6 {
  font-family: $font-family-campton-light;
  font-size: 14px;
}

@media (min-width: 992px) {
  h1 {
    font-family: $font-family-campton-bold;
    font-size: 50px;
  }

  h2 {
    font-family: $font-family-campton;
    font-size: 32px;
  }

  h3 {
    font-family: $font-family-campton;
    font-size: 24px;
  }

  h4 {
    font-family: $font-family-campton-bold;
    font-size: 18px;
  }

  h5 {
    font-family: $font-family-campton-book;
    font-size: 16px;
  }

  h6 {
    font-family: $font-family-campton-light;
    font-size: 16px;
  }
}


// BACKGROUND COLORS
.pink-bg {
  background-color: $primary-pink;
}

.primary-purple-bg {
  background-color: $primary-purple;
}

.black-bg {
  background-color: $black;
}

.white-bg {
  background-color: $white;
}

.secondary-purple-bg {
  background-color: $secondary-purple;
}


// WORDS COLOR
.pink {
  background-color: $primary-pink;
}

.primary-purple {
  background-color: $primary-purple;
}

.black {
  background-color: $black;
}

.white {
  background-color: $white;
}

.secondary-purple {
  background-color: $secondary-purple;
}


.btn {
  border-radius: 24px;
}

// GRADIENT

.black-to-purple {
  background: -moz-linear-gradient(180deg, #6D2F98 0%, #1F0332 100%);
  background: -webkit-linear-gradient(180deg, #6D2F98 0%, #1F0332 100%);
  background: linear-gradient(180deg, #6D2F98 0%, #1F0332 100%);
}

.red-to-pink {
  background: -moz-linear-gradient(180deg, #B50F3D 0%, #FF5785 100%);
  background: -webkit-linear-gradient(180deg, #B50F3D 0%, #FF5785 100%);
  background: linear-gradient(180deg, #B50F3D 0%, #FF5785 100%);
}

.yellow-to-gold {
  background: -moz-linear-gradient(180deg, #D98119 0%, #FFC177 100%);
  background: -webkit-linear-gradient(180deg, #D98119 0%, #FFC177 100%);
  background: linear-gradient(180deg, #D98119 0%, #FFC177 100%);
}

.purple-to-white {
  background: -moz-linear-gradient(180deg, #FFFFFF 0%, #6D2F98 100%);
  background: -webkit-linear-gradient(180deg, #FFFFFF 0%, #6D2F98 100%);
  background: linear-gradient(180deg, #FFFFFF 0%, #6D2F98 100%);
}

.pink-to-purple {
  background: -moz-linear-gradient(180deg, #E53062 0%, #3B1159 100%);
  background: -webkit-linear-gradient(180deg, #E53062 0%, #3B1159 100%);
  background: linear-gradient(180deg, #E53062 0%, #3B1159 100%);
}

.yellow-to-pink {
  background: -moz-linear-gradient(180deg, #E53062 0%, #FAA43E 100%);
  background: -webkit-linear-gradient(180deg, #E53062 0%, #FAA43E 100%);
  background: linear-gradient(180deg, #E53062 0%, #FAA43E 100%);
}

