@import '../scss/style-guide.scss';

.section-intro {
  background-image: url('../images/header_img@2x.png');
  background-position: right 10% top 50%;
  background-size: 100% 100% !important;
  position: relative;
  height: 100vh;
  width: 100%;
  justify-content: center;

  h3 {
    position: absolute;
    color: white;
    text-align: center;
    top: 450px;
    margin-left: auto;
    margin-right: auto;
    left: 0;
    right: 0;
  }
}

@media (max-width: 767px) {
  .section-intro {
    background-size: 290% 100% !important;
    background-position: left 50% top 0 !important;
    background-repeat: no-repeat;
    min-height: 53vh;
  }
}

.img-header {
  height: 100vh;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  left: 0;
  right: 0;
  position: absolute;
}

.img-title {
  width: 218px;
  height: 60px;
  top: 380px;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  left: 0;
  right: 0;
  position: absolute;
}

span.case-study-tag {
  display: -ms-inline-flexbox;
  display: inline-flex;
  -ms-flex-align: center;
  align-items: center;
  -ms-flex-pack: center;
  justify-content: center;
  margin: 5px;
  line-height: 1.2;
  min-height: 28px;
  background-color: hsla(0, 0%, 100%, .15);
  color: #fff;
  font-size: 13px;
  font-weight: 400;
  padding: 1px 36px 0;
  border-radius: 50px;
}

.case-study-tags {
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  left: 0;
  right: 0;
  bottom: 80px;
  position: absolute;
}


.about-lines {
  position: absolute;
  width: 100%;
}

.section-about {
  min-height: 70vh;
  padding: 70px 0 70px 0;
  background: rgb(129, 53, 221);
  background: -moz-linear-gradient(45deg, rgba(129, 53, 221, 1) 80%, #8B36DC 100%);
  background: -webkit-linear-gradient(45deg, rgba(129, 53, 221, 1) 80%, #8B36DC 100%);
  background: linear-gradient(45deg, rgba(129, 53, 221, 1) 80%, #8B36DC 100%);

  h1 {
    z-index: 1;
    font-family: $font-family-campton-light;
    margin-top: 0;
    position: absolute;
    color: #2B2024;
    opacity: 0.2;
    line-height: 143px;
    font-size: 120px;
    top: 0;
  }

  &:before {
    z-index: 0;
    display: block;
    content: '';
    position: absolute;
    left: 0;
    right: 0;
  }

  &:before {
    top: 0;
    bottom: 60%;
  }


  section {
    background-size: auto 110%;
    background-repeat: no-repeat;

    &:not(:last-of-type) {
      margin-bottom: 72px;
    }

    h2 {
      margin-top: 60px;
      color: white;
      z-index: 2;
    }

    p {
      color: white;
      font-family: $font-family-campton-light;
      margin-top: 50px;
      margin-bottom: 26px;
    }
  }

  .about {
    .container {
      > * {
        margin-right: 47%;
      }
    }
  }

  .about {
    background-image: url('../images/about_img@2x.png');
    background-position: right 10% top 50%;
  }

  > .container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 96px;
  }
}

@media (min-width: 1601px) {
  .section-about .about {
    background-position: right 25% top 50%;
  }
}

@media (max-width: 1400px) {
  .container {
    max-width: 980px;
  }
  .section-about .about {
    background-position: right 0 top 50%;
  }
}

@media (max-width: 992px) {
  .section-about {
    &:before {
      top: 0;
      bottom: 90%;
      background-image: radial-gradient(100% 100% ellipse at 50% -15%, rgba(76, 58, 88, 0.06), rgba(59, 17, 89, 0));
    }

    .header {
      margin-bottom: 300px;

      h1 {
        top: 0;
      }
    }

    .about-lines {
      margin-top: 550px;
    }

    section {
      //padding-top: 300px;
      background-size: auto 300px !important;
      background-position: left 50% top 120px !important;

      &:not(:last-child) {
        margin-bottom: 15px;
      }

      .container {
        display: flex;
        flex-direction: column;

        h3:first-of-type {
          font-size: 26px !important;
        }


        > * {
          margin-left: 0 !important;
          margin-right: 0 !important;
        }
      }
    }
  }

}

@media (max-width: 767px) {
  .section-about {
    padding: 36px 0;

    .header {
      margin-bottom: 300px;

      h1 {
        top: 0;
      }
    }

    section {
      //padding-top: 380px !important;
      background-size: auto 280px !important;
      background-position: left 50% top 130px !important;
    }
  }
}

.section-challenge {
  min-height: 70vh;
  padding: 70px 0 70px 0;
  background: rgb(129, 53, 221);
  background: -moz-linear-gradient(180deg, rgba(129, 53, 221, 1) 50%, #8840e3 100%);
  background: -webkit-linear-gradient(180deg, rgba(129, 53, 221, 1) 50%, #8840e3 100%);
  background: linear-gradient(180deg, rgba(129, 53, 221, 1) 50%, #8840e3 100%);

  h1 {
    z-index: 1;
    font-family: $font-family-campton-light;
    margin-top: 0;
    position: absolute;
    color: #2B2024;
    opacity: 0.2;
    line-height: 143px;
    font-size: 120px;
    top: 0;
  }


  section {
    background-size: auto 100%;
    background-repeat: no-repeat;

    &:not(:last-of-type) {
      margin-bottom: 72px;
    }

    h2 {
      margin-top: 60px;
      color: white;
      z-index: 2;
    }

    p {
      color: white;
      font-family: $font-family-campton-light;
      margin-top: 50px;
      margin-bottom: 26px;
    }

    .btn {
      margin-top: 30px;
    }
  }

  .challenge {
    .container {
      > * {
        margin-left: 47%;
        margin-right: 65px;
      }
    }
  }

  .challenge {
    background-image: url('../images/challenge_img@2x.png');
    background-position: left 40% top 50%;
  }

  > .container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 96px;
  }
}

@media (min-width: 1601px) {
  .section-challenge .challenge {
    background-position: right 70% top 50%;
  }
}

@media (max-width: 1400px) {
  .container {
    max-width: 980px;
  }
  .section-challenge h1 {
    right: initial;
  }
  .section-challenge .challenge {
    background-position: right 50% top 50%;
    min-height: 450px;
  }
  .header {
    margin-bottom: 300px;

    h1 {
      top: 0;
      right: initial;
    }
  }
}

@media (max-width: 992px) {
  .section-challenge {
    &:before {
      top: 0;
      bottom: 90%;
      background-color: rgba(76, 58, 88, 0.06);
    }

    .header {
      margin-bottom: 300px;
    }

    .about-lines {
      margin-top: 550px;
    }

    h2 {
      align-self: end;
      text-align: end;
    }

    h1 {
      top: 0;
      right: 2px;
    }

    section {
      //padding-top: 300px;
      background-size: auto 300px !important;
      background-position: left 50% top 120px !important;

      &:not(:last-child) {
        margin-bottom: 15px;
      }

      .container {
        display: flex;
        flex-direction: column;

        h3:first-of-type {
          font-size: 26px !important;
        }

        > * {
          margin-left: 0 !important;
          margin-right: 0 !important;
        }
      }
    }
  }

}

@media (max-width: 767px) {
  .section-challenge {
    padding: 36px 0;

    .section-title {
      margin-bottom: 0;

      h3 {
        margin-top: 14px;
      }
    }

    h1 {
      top: 0;
      right: 2px;
    }

    .header {
      margin-bottom: 360px;


    }

    section {
      //padding-top: 380px !important;
      background-size: auto 390px !important;
      background-position: left -3% top 130px !important;
    }
  }
}


.section-mockup {
  background-color: rgba(76, 58, 88, 0.06);
  background-image: url("../images/mockup@2x.png");
  min-height: 85vh;
  background-size: 100% 100% !important;
}

@media (max-width: 767px) {
  .section-mockup {
    background-size: 180% auto !important;
    background-position: left 50% top 0 !important;
    background-repeat: no-repeat;
    min-height: 53vh;
  }
}


.section-logo {
  min-height: 60vh;
  padding: 70px 0 70px 0;
  background: white;

  h1 {
    z-index: 1;
    font-family: $font-family-campton-light;
    margin-top: 0;
    position: absolute;
    color: #2B2024;
    opacity: 0.2;
    line-height: 143px;
    font-size: 120px;
    top: 0;
  }

  &:before {
    z-index: 0;
    display: block;
    content: '';
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 60%;
  }

  section {
    background-size: auto 110%;
    background-repeat: no-repeat;

    &:not(:last-of-type) {
      margin-bottom: 72px;
    }

    h2 {
      margin-top: 60px;
      color: #8840E3;
      z-index: 2;
    }

    .body {
      color: #2B2024;
      font-family: $font-family-campton;
      margin-top: 70px;
      margin-bottom: 26px;
      font-size: 15px;
      line-height: 21px;
      margin-right: 0;
    }

    .btn {
      margin-top: 30px;
    }
  }

  .logo {
    background-image: url('../images/Screen Shot 2020-07-20 at 1.39.47 PM.png');
    background-position: right 20% top 50%;
    background-size: auto 100%;
    min-height: 350px;
  }

  > .container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 96px;
  }
}

@media (min-width: 1601px) {
  .section-about .logo {
    background-position: right 25% top 50%;
  }
}

@media (max-width: 1400px) {
  .container {
    max-width: 980px;
  }
  .section-logo .logo {
    background-position: right 0 top 50%;
  }
}

@media (max-width: 992px) {
  .section-logo {
    &:before {
      top: 0;
      bottom: 90%;
    }

    .header {
      margin-bottom: 300px;

      h1 {
        top: 0;
        left: 20px;
      }
    }

    section {
      background-size: auto 300px !important;
      background-position: left 50% top 120px !important;

      &:not(:last-child) {
        margin-bottom: 15px;
      }

      .container {
        display: flex;
        flex-direction: column;

      }
    }
  }

}

@media (max-width: 767px) {
  .section-logo {
    padding: 36px 0;

    .header {
      margin-bottom: 300px;

      h1 {
        top: 0;
      }
    }

    section {
      //padding-top: 380px !important;
      background-size: auto 280px !important;
      background-position: left 50% top 130px !important;
    }
  }
}


.section-application {
  background-image: url('../images/icon_mockup@2x.png');
  background-position: right 0 bottom 0;
  background-size: auto 100%;
  position: relative;
  background-repeat: no-repeat;
  height: 500px;

  .logo {
    position: absolute;
    right: 50%;
    top: 40%;
    width: 250px;
  }

  .zigzag {
    position: absolute;
    bottom: 0;
    width: 100%;
  }
}

@media (max-width: 767px) {
  .section-application {
    background-size: auto 70% !important;
    background-position: right 0 bottom 0 !important;
    min-height: 53vh;

    .logo {
      margin-left: auto;
      margin-right: auto;
      text-align: center;
      left: 0;
      top: 10px;
      right: 0;
    }

    .zigzag {
      position: absolute;
      bottom: 0;
      margin-left: auto;
      margin-right: auto;
      text-align: center;
      left: -25%;
      right: 0;
      width: 150%;
    }
  }

}


.section-style-guide {
  min-height: 70vh;
  padding: 70px 0 70px 0;
  background: #271a1f;


  h1 {
    z-index: 1;
    font-family: $font-family-campton-light;
    margin-top: 0;
    position: absolute;
    color: #060505;
    opacity: 0.2;
    line-height: 143px;
    font-size: 120px;
    top: 0;
  }


  section {
    min-height: 600px;
    background-size: auto 100%;
    background-repeat: no-repeat;

    &:not(:last-of-type) {
      margin-bottom: 72px;
    }

    h2 {
      margin-top: 60px;
      color: #8840E3;
      z-index: 2;
    }

    p {
      color: white;
      font-family: $font-family-campton-light;
      margin-top: 50px;
      margin-bottom: 26px;
    }

    .btn {
      margin-top: 30px;
    }
  }

  .style-guide {
    .container {
      position: relative;
      width: 100%;
      height: 100%;

      .right {

        > * {
          position: absolute;
          left: 57%;
          width: 380px;
        }

        .icons {
          top: 100px;
        }
      }

      .left {
        > * {
          position: absolute;
          left: 7%;
          width: 40%;
        }

        h2 {
          margin-top: 10px;
        }

        img {
          margin-top: 100px;
        }
      }
    }
  }


}

@media (min-width: 1601px) {
  .section-style-guide .challenge {
    background-position: right 70% top 50%;
  }
}

@media (max-width: 1400px) {
  .container {
    max-width: 980px;
  }
  .section-style-guide h1 {
    right: initial;
  }
  .section-style-guide .style-guide {
    background-position: right 50% top 50%;
    min-height: 450px;
  }
  .header {
    margin-bottom: 300px;

    h1 {
      top: 0;
      right: initial;
    }
  }
}

@media (max-width: 992px) {
  .section-style-guide {
    &:before {
      top: 0;
      bottom: 90%;
      background-color: rgba(76, 58, 88, 0.06);
    }

    .header {
      margin-bottom: 300px;
    }

    .about-lines {
      margin-top: 20%;
    }

    h2 {
      align-self: start;
      text-align: start;
    }

    h1 {
      top: 0;
      left: 2px;
      right: initial !important;
    }

    section {
      //padding-top: 300px;
      background-size: auto 300px !important;
      background-position: left 50% top 120px !important;

      &:not(:last-child) {
        margin-bottom: 15px;
      }

      .container {
        position: relative;
        width: 100%;
        height: 900px !important;

        .right {
          position: absolute;
          top: 20px;
          margin-left: auto;
          margin-right: auto;
          text-align: start;
          left: 0;
          right: 0;

          > * {
            margin-left: auto;
            margin-right: auto;
            text-align: start;
            right: 0;
            left: 7% !important;
            width: initial !important;
          }

          .icons {
            top: 100px;
          }
        }

        .left {
          position: absolute;
          top: 400px;
          margin-left: auto;
          margin-right: auto;
          text-align: center;
          left: 0;
          right: 0;

          > * {
            margin-left: auto;
            margin-right: auto;
            text-align: start;
            left: 0 !important;
            right: 0;
            width: initial !important;
          }

          h2 {
            margin-left: 90px;
          }

          img {
            width: 70% !important;
          }
        }
      }

    }
  }

}

@media (max-width: 767px) {
  .section-style-guide {
    padding: 36px 0;

    .section-title {
      margin-bottom: 0;

      h3 {
        margin-top: 14px;
      }
    }

    h1 {
      top: 0;
      right: 2px;
    }

    .right {
      margin-left: 50px !important;
      margin-right: 50px !important;
    }

    section {
      //padding-top: 380px !important;
      background-size: auto 390px !important;
      background-position: left -3% top 130px !important;
    }
  }
}

.section-images {
  width: 100%;
  background-color: #2B2024;
  //background: -moz-linear-gradient(180deg, #271a1f 0%, #2b2025 100%);
  //background: -webkit-linear-gradient(180deg, #271a1f 0%, #2b2025 100%);
  //background: linear-gradient(180deg, #271a1f 0%, #2b2025 100%);

  .section-title h2 {
    text-align: start;
    color: #8840E3;
  }

  img {
    width: 100%;
  }
}


.section-main-screen {
  min-height: 1500px;
  padding: 0 0 70px 0;
  background: white;

  img {
    width: 100%;
  }

  h1 {
    z-index: 1;
    font-family: $font-family-campton-light;
    margin-top: 0;
    position: absolute;
    color: #2B2024;
    opacity: 0.2;
    line-height: 143px;
    font-size: 120px;
    top: 0;
  }

  &:before {
    z-index: 0;
    display: block;
    content: '';
    position: absolute;
    left: 0;
    right: 0;
  }

  &:before {
    top: 0;
    bottom: 60%;
  }


  section {
    background-size: auto 100%;
    background-repeat: no-repeat;

    &:not(:last-of-type) {
      margin-bottom: 72px;
    }

    h2 {
      margin-top: 60px;
      color: #8840E3;
      z-index: 2;
    }

    p {
      color: black;
      font-family: $font-family-campton-light;
      margin-top: 50px;
      margin-bottom: 26px;
    }
  }

  .main-screen {
    min-height: 1500px;
    background-image: url('../images/main_screens@2x.png');
    background-position: right 10% top 50%;

    .container {
      > * {
        margin-right: 47%;
      }
    }
  }

  > .container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 96px;
  }
}

@media (min-width: 1601px) {
  .section-main-screen .main-screen {
    background-position: right 25% top 50%;
  }
}

@media (max-width: 1400px) {
  .container {
    max-width: 780px;
  }
  .section-main-screen .main-screen {
    background-size: 120% auto;
    background-position: right 50% top 50%;
  }
}

@media (max-width: 992px) {
  .section-main-screen {
    &:before {
      top: 0;
      bottom: 90%;
      background-image: radial-gradient(100% 100% ellipse at 50% -15%, rgba(76, 58, 88, 0.06), rgba(59, 17, 89, 0));
    }

    .header {
      margin-bottom: 30px;

      h1 {
        top: 0;
      }
    }

    section {
      //padding-top: 300px;
      background-size: auto 100% !important;
      background-position: left 50% top 120px !important;

      &:not(:last-child) {
        margin-bottom: 15px;
      }

      .container {
        display: flex;
        flex-direction: column;

        h3:first-of-type {
          font-size: 26px !important;
        }


        > * {
          margin-left: 0 !important;
          margin-right: 0 !important;
        }
      }
    }
  }

}

@media (max-width: 767px) {
  .section-main-screen {
    padding: 0;
    min-height: 120vh;

    .main-screen {
      min-height: 115vh;
    }

    .header {
      margin-bottom: 30px;

      h1 {
        top: 0;
      }
    }

    section {
      background-size: auto 60vh !important;
      background-position: left 50% top 320px !important;
    }
  }
}


.section-main-screen-second {
  max-height: 2300px;
  padding: 0 0 70px 0;
  background: white;

  img {
    width: 100%;
  }

  h1 {
    z-index: 1;
    font-family: $font-family-campton-light;
    margin-top: 0;
    position: absolute;
    color: #2B2024;
    opacity: 0.2;
    line-height: 143px;
    font-size: 120px;
    top: 0;
  }

  &:before {
    z-index: 0;
    display: block;
    content: '';
    position: absolute;
    left: 0;
    right: 0;
  }

  &:before {
    top: 0;
    bottom: 60%;
  }

  .left {
    position: absolute;
    top: 20px;
    left: 0;
  }

  .right {
    position: absolute;
    top: 20px;
    left: 50%;
    margin-right: 0 !important;
  }

  section {
    background-size: auto 100%;
    background-repeat: no-repeat;

    &:not(:last-of-type) {
      margin-bottom: 72px;
    }

    h2 {
      margin-top: 60px;
      color: black;
      z-index: 2;
    }

    p {
      color: black;
      font-family: $font-family-campton-light;
      margin-top: 50px;
      margin-bottom: 26px;
    }
  }

  .main-screen-second {
    min-height: 2700px;
    background-image: url('../images/new_project@2x.png');
    background-position: right 40% top 10%;

    .container {
      position: relative;

      > * {
        margin-top: 90px;
        margin-right: 55%;
      }
    }
  }

  > .container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 96px;
  }
}

@media (min-width: 1601px) {
  .section-main-screen-second .main-screen-second {
    background-position: right 25% top 10%;
  }
}

@media (max-width: 1400px) {
  .container {
    max-width: 980px;
  }
  img {
    display: block;
  }
  .section-main-screen-second .main-screen-second {
    background-size: 130% auto !important;
    background-position: left 60% top 20%;
  }
}

@media (max-width: 992px) {
  .section-main-screen-second {

    img {
      display: none;
    }

    .main-screen-second {
      min-height: 1900px;
    }

    &:before {
      top: 0;
      bottom: 90%;

    }

    .header {
      margin-bottom: 30px;

      h1 {
        top: 0;
      }
    }

    section {
      //padding-top: 300px;
      background-size: 200% auto !important;
      background-position: left 60% top 500px !important;

      &:not(:last-child) {
        margin-bottom: 15px;
      }

      .container {
        display: flex;
        flex-direction: column;

        h3:first-of-type {
          font-size: 26px !important;
        }

        > * {
          margin-left: 0 !important;
          margin-right: 0 !important;
          margin-top: 0 !important;
        }

        .left {
          position: absolute;
          top: 20px;
          left: 10px;
        }

        .right {
          position: absolute;
          top: 200px;
          left: 10px;
          margin-right: 0 !important;
        }
      }
    }
  }

}

@media (max-width: 767px) {
  .section-main-screen-second {
    padding: 0;


    .main-screen-second {
      min-height: 1400px;
    }

    .header {
      margin-bottom: 30px;

      h1 {
        top: 0;
      }
    }

    section {
      background-size: 200% auto !important;
      background-position: left 60% top 800px !important;
    }
  }
}


.section-flight-mode {
  min-height: 800px;
  padding: 0 0 70px 0;
  background: white;

  img {
    width: 100%;
  }

  h1 {
    z-index: 1;
    font-family: $font-family-campton-light;
    margin-top: 0;
    position: absolute;
    color: #2B2024;
    opacity: 0.2;
    line-height: 143px;
    font-size: 120px;
    top: 0;
  }

  &:before {
    z-index: 0;
    display: block;
    content: '';
    position: absolute;
    left: 0;
    right: 0;
  }

  &:before {
    top: 0;
    bottom: 60%;
  }

  .left {
    position: absolute;
    top: 90px;
    left: 0;
  }

  section {
    background-size: auto 100%;
    background-repeat: no-repeat;

    &:not(:last-of-type) {
      margin-bottom: 72px;
    }

    h2 {
      margin-top: 60px;
      color: black;
      z-index: 2;
    }

    p {
      color: black;
      font-family: $font-family-campton-light;
      margin-top: 50px;
      margin-bottom: 26px;
    }
  }

  .flight-mode {
    min-height: 1800px;
    background-image: url('../images/flight_mode@2x.png');
    background-position: right 0 top 0;

    .container {
      position: relative;

      > * {
        margin-top: 90px;
        margin-right: 55%;
      }
    }
  }

  > .container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 96px;
  }
}

@media (min-width: 1601px) {
  .section-flight-mode .flight-mode {
    background-position: right 0 top 10%;
  }
}

@media (max-width: 1400px) {
  .container {
    max-width: 980px;
  }
  .section-flight-mode .flight-mode {
    background-size: 110% auto !important;
    background-position: right 0 top 10%;
  }
}

@media (max-width: 992px) {
  .section-flight-mode {

    img {
      display: none;
    }

    .flight-mode {
      min-height: 1000px;
    }

    &:before {
      top: 0;
      bottom: 90%;

    }

    .header {
      margin-bottom: 30px;

      h1 {
        top: 0;
      }
    }

    section {
      //padding-top: 300px;
      background-size: 110% auto !important;
      background-position: right 0 top 50px !important;

      &:not(:last-child) {
        margin-bottom: 15px;
      }

      .container {
        display: flex;
        flex-direction: column;

        h3:first-of-type {
          font-size: 26px !important;
        }

        > * {
          margin-left: 0 !important;
          margin-right: 0 !important;
          margin-top: 0 !important;
        }

        .left {
          position: absolute;
          top: 20px;
          left: 10px;
        }
      }
    }
  }

}

@media (max-width: 767px) {
  .section-flight-mode {
    padding: 0;

    .flight-mode {
      min-height: 800px;
    }

    .header {
      margin-bottom: 30px;

      h1 {
        top: 0;
      }
    }

    section {
      background-size: 100% auto !important;
      background-position: right 0 top 300px !important
    }
  }
}


.section-prototype {
  min-height: 70vh;
  padding: 70px 0 70px 0;
  background: white;

  h1 {
    z-index: 1;
    font-family: $font-family-campton-light;
    margin-top: 0;
    position: absolute;
    color: #2B2024;
    opacity: 0.2;
    line-height: 143px;
    font-size: 120px;
    top: 0;
  }

  .btn {
    display: none;
  }

  .zigzag {
    position: absolute;
    bottom: 0;
    width: 100%;
  }

  section {
    background-size: auto 100%;
    background-repeat: no-repeat;

    &:not(:last-of-type) {
      margin-bottom: 72px;
    }

    iframe {
      margin-left: 0 !important;
    }

    h2 {
      margin-top: 60px;
      color: #8840E3;
      z-index: 2;
    }

    p {
      color: black;
      font-family: $font-family-campton-light;
      margin-top: 50px;
      margin-bottom: 26px;
    }

    .btn {
      margin-top: 30px;
    }
  }

  .header {
    position: absolute;
    top: 350px;

    img {
      float: right;
      width: 100px;
    }
  }

  .prototype {
    .container {
      > * {
        margin-left: 47%;
        margin-right: 65px;
      }
    }
  }

  > .container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 96px;
  }
}

@media (min-width: 1601px) {
  .section-prototype .prototype {
    background-position: right 70% top 50%;
  }
}

@media (max-width: 1400px) {
  .container {
    max-width: 980px;
  }
  .section-prototype h1 {
    right: initial;
  }
  .section-prototype .prototype {
    background-position: right 50% top 50%;
    min-height: 780px;
  }
  .header {
    margin-bottom: 300px;

    h1 {
      top: 0;
      right: initial;
    }
  }
}

@media (max-width: 992px) {
  .section-prototype {
    &:before {
      top: 0;
      bottom: 90%;
      background-color: rgba(76, 58, 88, 0.06);
    }

    .header {
      margin-bottom: 300px;
    }

    iframe {
      display: none;
    }

    h2 {
      align-self: start;
      text-align: start;
    }

    h1 {
      top: 0;
      left: 2px;
    }

    section {
      //padding-top: 300px;
      background-size: auto 300px !important;
      background-position: left 50% top 120px !important;

      &:not(:last-child) {
        margin-bottom: 15px;
      }

      .btn {
        display: block;
        color: white;
        background-color: #8840E3;
        margin-top: 100px;
      }

      .container {
        display: flex;
        flex-direction: column;

        h3:first-of-type {
          font-size: 26px !important;
        }

        > * {
          margin-left: 20%;
          margin-right: 10px !important;
        }
      }
    }
  }

}

@media (max-width: 767px) {
  .section-prototype {
    padding: 36px 0;

    .section-title {
      margin-bottom: 0;

      h3 {
        margin-top: 14px;
      }
    }

    .zigzag {
      position: absolute;
      bottom: 0;
      margin-left: auto;
      margin-right: auto;
      text-align: center;
      left: -25%;
      right: 0;
      width: 150%;
    }

    h1 {
      top: 0;
      right: 2px;
    }

    .container {
      > * {
        margin-left: 0 !important;
        margin-right: 0 !important;
      }
    }

    section {
      //padding-top: 380px !important;
      background-size: auto 390px !important;
      background-position: left -3% top 130px !important;
    }
  }
}


.section-technologies {
  min-height: 70vh;
  padding: 70px 0 70px 0;
  background: #271a1f;


  h1 {
    z-index: 1;
    font-family: $font-family-campton-light;
    margin-top: 0;
    position: absolute;
    color: #060505;
    opacity: 0.2;
    line-height: 143px;
    font-size: 120px;
    top: 0;
  }


  section {
    min-height: 600px;
    background-size: auto 100%;
    background-repeat: no-repeat;

    &:not(:last-of-type) {
      margin-bottom: 72px;
    }

    h2 {
      margin-top: 60px;
      color: #8840E3;
      z-index: 2;
    }

    h3 {
      margin-top: 60px;
      color: white;
      z-index: 2;
    }

    p {
      color: white;
      font-family: $font-family-campton-light;
      margin-top: 50px;
      margin-bottom: 26px;
    }

    .btn {
      margin-top: 30px;
    }
  }

  .technologies {
    .container {
      position: relative;
      height: 100%;

      .title {
        display: flex;
        align-items: center;

        img {
          margin-bottom: 10px;
          width: 26px;
        }

        > * {
          display: inline;
          vertical-align: middle;
        }

        h3 {
          margin: auto 0 auto 20px;
        }
      }

      .header {
        margin-bottom: 80px;
      }

      .right {

        > * {
          position: absolute;
          left: 57%;
          width: 380px;
        }
      }

      .left {
        > * {
          position: absolute;
          left: 10px;
          width: 380px;
        }


        h2 {
          margin-top: 10px;
        }
      }
    }
  }


}

@media (min-width: 1601px) {
  .section-technologies .technologies {
    background-position: right 70% top 50%;
  }
}

@media (max-width: 1400px) {
  .container {
    max-width: 980px;
  }
  .section-technologies h1 {
    right: initial;
  }
  .section-technologies .technologies {
    background-position: right 50% top 50%;
    min-height: 450px;
  }
  .header {
    margin-bottom: 300px;

    h1 {
      top: 0;
      right: initial;
    }
  }
}

@media (max-width: 992px) {
  .section-technologies {
    &:before {
      top: 0;
      bottom: 90%;
      background-color: rgba(76, 58, 88, 0.06);
    }

    .header {
      margin-bottom: 300px;
      margin-left: 20px;
    }

    .about-lines {
      margin-top: 20%;
    }

    h2 {
      align-self: start;
      text-align: start;
    }

    h1 {
      top: 0;
      left: 20px;
      right: initial !important;
    }

    section {
      //padding-top: 300px;
      background-size: auto 300px !important;
      background-position: left 50% top 120px !important;

      &:not(:last-child) {
        margin-bottom: 15px;
      }

      .container {
        position: relative;
        width: 100%;
        height: 900px !important;

        .right {
          position: absolute;
          top: 400px;
          margin-left: auto;
          margin-right: 30px;
          text-align: start;
          left: 0;
          right: 0;

          > * {
            margin-left: auto;
            margin-right: auto;
            text-align: start;
            right: 0;
            left: 7% !important;
            width: initial !important;
          }
        }

        .left {
          position: absolute;
          top: 200px;
          margin-left: auto;
          margin-right: auto;
          text-align: start;
          left: 0;
          right: 0;

          > * {
            margin-left: auto;
            text-align: start;
            margin-right: 30px;
            left: 7% !important;
            width: initial !important;
          }

          h2 {
            margin-left: 90px;
          }
        }
      }

    }
  }

}

@media (max-width: 767px) {
  .section-technologies {
    padding: 36px 0;

    .section-title {
      margin-bottom: 0;

      h3 {
        margin-top: 14px;
      }
    }

    h1 {
      top: 0;
      right: 2px;
    }

    .right, .left {
      margin-left: 20px !important;
      margin-right: 20px !important;
    }

    section {
      //padding-top: 380px !important;
      background-size: auto 390px !important;
      background-position: left -3% top 130px !important;
    }
  }
}

.line-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.team {
  align-self: center;
  width: 152px;
}

.photo-wrapper {
  display: flex;
  flex-direction: column;
}

.title-paragraph {
  color: #FFFFFF;
  font-family: $font-family-campton-bold;
  font-size: 24px;
  line-height: 36px;
  text-align: center;
  padding-bottom: 10px;
}

.name {
  height: 92px;
  width: 335px;
  color: #FFFFFF;
  font-family: $font-family-campton-bold;
  font-size: 15px;
  line-height: 23px;
  text-align: center;
}

.no-display-desktop {
  display: none;
}

.section-squad {
  min-height: 70vh;
  padding: 70px 0 70px 0;
  background-color: #2B2024;
  //background: -moz-linear-gradient(180deg, #271a1f 0%, #2b2025 100%);
  //background: -webkit-linear-gradient(180deg, #271a1f 0%, #2b2025 100%);
  //background: linear-gradient(180deg, #271a1f 0%, #2b2025 100%);


  h1 {
    z-index: 1;
    font-family: $font-family-campton-light;
    margin-top: 0;
    position: absolute;
    color: #060505;
    opacity: 0.2;
    line-height: 143px;
    font-size: 120px;
    top: 0;
  }



  section {
    min-height: 600px;
    background-size: auto 100%;
    background-repeat: no-repeat;

    &:not(:last-of-type) {
      margin-bottom: 72px;
    }

    h2 {
      margin-top: 60px;
      color: #8840E3;
      z-index: 2;
    }

    h3 {
      margin-top: 60px;
      color: white;
      z-index: 2;
    }

    p {
      color: white;
      font-family: $font-family-campton-light;
      margin-top: 50px;
      margin-bottom: 26px;
    }

    .btn {
      margin-top: 30px;
    }
  }

  .squad {
    .container {
      position: relative;
      height: 100%;

      .title {
        display: flex;
        align-items: center;

        img {
          margin-bottom: 10px;
          width: 26px;
        }

        > * {
          display: inline;
          vertical-align: middle;
        }

        h3 {
          margin: auto 0 auto 20px;
        }
      }

      .header {
        margin-bottom: 80px;
      }

      .right {

        > * {
          position: absolute;
          left: 57%;
          width: 380px;
        }
      }

      .left {
        > * {
          position: absolute;
          left: 10px;
          width: 380px;
        }


        h2 {
          margin-top: 10px;
        }
      }
    }
  }


}

@media (min-width: 1601px) {
  .section-squad .squad {
    background-position: right 70% top 50%;
  }
}

@media (max-width: 1400px) {
  .container {
    max-width: 980px;
  }
  .section-squad h1 {
    right: initial;
  }
  .section-squad .squad {
    background-position: right 50% top 50%;
  }
  .header {
    margin-bottom: 300px;

    h1 {
      top: 0;
      right: initial;
    }
  }
}

@media (max-width: 992px) {
  .section-squad {
    &:before {
      top: 0;
      bottom: 90%;
      background-color: rgba(76, 58, 88, 0.06);
    }

    .header {
      margin-bottom: 300px;
      margin-left: 20px;
    }

    .about-lines {
      margin-top: 20%;
    }

    h2 {
      align-self: start;
      text-align: start;
    }

    h1 {
      top: 0;
      left: 20px;
      right: initial !important;
    }

    section {
      //padding-top: 300px;
      background-size: auto 300px !important;
      background-position: left 50% top 120px !important;

      &:not(:last-child) {
        margin-bottom: 15px;
      }

      .container {
        position: relative;
        width: 100%;

        .right {
          position: absolute;
          top: 400px;
          margin-left: auto;
          margin-right: 30px;
          text-align: start;
          left: 0;
          right: 0;

          > * {
            margin-left: auto;
            margin-right: auto;
            text-align: start;
            right: 0;
            left: 7% !important;
            width: initial !important;
          }
        }

        .left {
          position: absolute;
          top: 200px;
          margin-left: auto;
          margin-right: auto;
          text-align: start;
          left: 0;
          right: 0;

          > * {
            margin-left: auto;
            text-align: start;
            margin-right: 30px;
            left: 7% !important;
            width: initial !important;
          }

          h2 {
            margin-left: 90px;
          }
        }
      }

    }
  }

}

@media (max-width: 767px) {
  .section-squad {
    padding: 36px 0;

    .no-display-desktop {
      display: block;
    }

    .no-display-phone {
      display: none;
    }

    .section-title {
      margin-bottom: 0;

      h3 {
        margin-top: 14px;
      }
    }

    h1 {
      top: 0;
      right: 2px;
    }

    .right, .left {
      margin-left: 20px !important;
      margin-right: 20px !important;
    }

    section {
      //padding-top: 380px !important;
      background-size: auto 390px !important;
      background-position: left -3% top 130px !important;
    }
  }
}


.section-last {
  min-height: 70vh;
  padding: 0;
  position: relative;

  .zigzag {
    position: absolute;
    top: 0;
    z-index: 3;
    width: 100%;
  }

  h1 {
    z-index: 1;
    font-family: $font-family-campton-light;
    margin-top: 0;
    position: absolute;
    color: #2B2024;
    opacity: 0.2;
    line-height: 143px;
    font-size: 120px;
    top: 0;
  }

  &:before {
    z-index: 0;
    display: block;
    content: '';
    position: absolute;
    left: 0;
    right: 0;
  }

  &:before {
    top: 0;
    bottom: 60%;
  }


  section {
    min-height: 70vh;
    background-size: 100% 100%;
    background-repeat: no-repeat;

    &:not(:last-of-type) {
      margin-bottom: 72px;
    }

    h2 {
      font-size: 24px;
      margin: 40px auto;
      color: #2B2024;
      z-index: 2;
    }
  }

  .last {
    .container {
      > * {
        margin-top: 200px;
        margin-right: 65%;
      }

      img {
        width: 250px;
        &.apple {
          width: 160px;
        }
      }
    }
  }

  .header {
    justify-content: center;
    text-align: center;
    align-items: center;
    margin-bottom: 100px !important;
  }

  .last {
    background-image: url('../images/presentation_mockup@2x.png');
    background-position: right 0 top 0;
  }

  > .container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 96px;
  }
}

@media (min-width: 1601px) {
  .section-last .last {
    background-position: right 0 top 0;
  }
}

@media (max-width: 1400px) {
  .container {
    max-width: 980px;
  }
  .section-last .last {
    background-position: right 0 top 0;
  }
}

@media (max-width: 992px) {
  .section-last {
    &:before {
      top: 0;
      bottom: 90%;

    }

    .header {

      img {
        align-self: center;
        margin: auto;
        width: 70%;

        &.apple {
          width: 50%;
        }
      }

      h1 {
        top: 0;
      }
    }

    section {
      //padding-top: 300px;
      background-image: url('../images/presentation_mockup_mobile@2x.png') !important;
      background-size: 100% 100% !important;
      background-position: left 0 top 0 !important;

      &:not(:last-child) {
        margin-bottom: 15px;
      }

      .container {
        display: flex;
        flex-direction: column;

        h3:first-of-type {
          font-size: 26px !important;
        }


        > * {
          margin-top: 500px !important;
          margin-left: 0 !important;
          margin-right: 0 !important;
        }
      }
    }
  }

}

@media (max-width: 767px) {
  .section-last {
    padding: 0 0;

    section {
      background-size: 100% 100% !important;
      background-position: left 0 top 0 !important;
    }
  }
}
