@import url(../fonts/campton-light.css);
h1 {
  font-family: "Campton-Bold";
  font-size: 40px; }

h2 {
  font-family: "Campton-Medium", "Helvetica", "Segoe-UI", sans-serif;
  font-size: 30px; }

h3 {
  font-family: "Campton-Medium", "Helvetica", "Segoe-UI", sans-serif;
  font-size: 18px; }

h4 {
  font-family: "Campton-Bold";
  font-size: 16px; }

h5 {
  font-family: "Campton-Book";
  font-size: 14px; }

h6 {
  font-family: "Campton-Light";
  font-size: 14px; }

@media (min-width: 992px) {
  h1 {
    font-family: "Campton-Bold";
    font-size: 50px; }
  h2 {
    font-family: "Campton-Medium", "Helvetica", "Segoe-UI", sans-serif;
    font-size: 32px; }
  h3 {
    font-family: "Campton-Medium", "Helvetica", "Segoe-UI", sans-serif;
    font-size: 24px; }
  h4 {
    font-family: "Campton-Bold";
    font-size: 18px; }
  h5 {
    font-family: "Campton-Book";
    font-size: 16px; }
  h6 {
    font-family: "Campton-Light";
    font-size: 16px; } }

.pink-bg {
  background-color: #E53062; }

.primary-purple-bg {
  background-color: #3B1159; }

.black-bg {
  background-color: #000000; }

.white-bg {
  background-color: #FFFFFF; }

.secondary-purple-bg {
  background-color: #B1A0BD; }

.pink {
  background-color: #E53062; }

.primary-purple {
  background-color: #3B1159; }

.black {
  background-color: #000000; }

.white {
  background-color: #FFFFFF; }

.secondary-purple {
  background-color: #B1A0BD; }

.btn {
  border-radius: 24px; }

.black-to-purple {
  background: -moz-linear-gradient(180deg, #6D2F98 0%, #1F0332 100%);
  background: -webkit-linear-gradient(180deg, #6D2F98 0%, #1F0332 100%);
  background: linear-gradient(180deg, #6D2F98 0%, #1F0332 100%); }

.red-to-pink {
  background: -moz-linear-gradient(180deg, #B50F3D 0%, #FF5785 100%);
  background: -webkit-linear-gradient(180deg, #B50F3D 0%, #FF5785 100%);
  background: linear-gradient(180deg, #B50F3D 0%, #FF5785 100%); }

.yellow-to-gold {
  background: -moz-linear-gradient(180deg, #D98119 0%, #FFC177 100%);
  background: -webkit-linear-gradient(180deg, #D98119 0%, #FFC177 100%);
  background: linear-gradient(180deg, #D98119 0%, #FFC177 100%); }

.purple-to-white {
  background: -moz-linear-gradient(180deg, #FFFFFF 0%, #6D2F98 100%);
  background: -webkit-linear-gradient(180deg, #FFFFFF 0%, #6D2F98 100%);
  background: linear-gradient(180deg, #FFFFFF 0%, #6D2F98 100%); }

.pink-to-purple {
  background: -moz-linear-gradient(180deg, #E53062 0%, #3B1159 100%);
  background: -webkit-linear-gradient(180deg, #E53062 0%, #3B1159 100%);
  background: linear-gradient(180deg, #E53062 0%, #3B1159 100%); }

.yellow-to-pink {
  background: -moz-linear-gradient(180deg, #E53062 0%, #FAA43E 100%);
  background: -webkit-linear-gradient(180deg, #E53062 0%, #FAA43E 100%);
  background: linear-gradient(180deg, #E53062 0%, #FAA43E 100%); }
