@import url(../fonts/campton-light.css);
h1 {
  font-family: "Campton-Bold";
  font-size: 40px; }

h2 {
  font-family: "Campton-Medium", "Helvetica", "Segoe-UI", sans-serif;
  font-size: 30px; }

h3 {
  font-family: "Campton-Medium", "Helvetica", "Segoe-UI", sans-serif;
  font-size: 18px; }

h4 {
  font-family: "Campton-Bold";
  font-size: 16px; }

h5 {
  font-family: "Campton-Book";
  font-size: 14px; }

h6 {
  font-family: "Campton-Light";
  font-size: 14px; }

@media (min-width: 992px) {
  h1 {
    font-family: "Campton-Bold";
    font-size: 50px; }
  h2 {
    font-family: "Campton-Medium", "Helvetica", "Segoe-UI", sans-serif;
    font-size: 32px; }
  h3 {
    font-family: "Campton-Medium", "Helvetica", "Segoe-UI", sans-serif;
    font-size: 24px; }
  h4 {
    font-family: "Campton-Bold";
    font-size: 18px; }
  h5 {
    font-family: "Campton-Book";
    font-size: 16px; }
  h6 {
    font-family: "Campton-Light";
    font-size: 16px; } }

.pink-bg {
  background-color: #E53062; }

.primary-purple-bg {
  background-color: #3B1159; }

.black-bg {
  background-color: #000000; }

.white-bg {
  background-color: #FFFFFF; }

.secondary-purple-bg {
  background-color: #B1A0BD; }

.pink {
  background-color: #E53062; }

.primary-purple {
  background-color: #3B1159; }

.black {
  background-color: #000000; }

.white {
  background-color: #FFFFFF; }

.secondary-purple {
  background-color: #B1A0BD; }

.btn {
  border-radius: 24px; }

.black-to-purple {
  background: -moz-linear-gradient(180deg, #6D2F98 0%, #1F0332 100%);
  background: -webkit-linear-gradient(180deg, #6D2F98 0%, #1F0332 100%);
  background: linear-gradient(180deg, #6D2F98 0%, #1F0332 100%); }

.red-to-pink {
  background: -moz-linear-gradient(180deg, #B50F3D 0%, #FF5785 100%);
  background: -webkit-linear-gradient(180deg, #B50F3D 0%, #FF5785 100%);
  background: linear-gradient(180deg, #B50F3D 0%, #FF5785 100%); }

.yellow-to-gold {
  background: -moz-linear-gradient(180deg, #D98119 0%, #FFC177 100%);
  background: -webkit-linear-gradient(180deg, #D98119 0%, #FFC177 100%);
  background: linear-gradient(180deg, #D98119 0%, #FFC177 100%); }

.purple-to-white {
  background: -moz-linear-gradient(180deg, #FFFFFF 0%, #6D2F98 100%);
  background: -webkit-linear-gradient(180deg, #FFFFFF 0%, #6D2F98 100%);
  background: linear-gradient(180deg, #FFFFFF 0%, #6D2F98 100%); }

.pink-to-purple {
  background: -moz-linear-gradient(180deg, #E53062 0%, #3B1159 100%);
  background: -webkit-linear-gradient(180deg, #E53062 0%, #3B1159 100%);
  background: linear-gradient(180deg, #E53062 0%, #3B1159 100%); }

.yellow-to-pink {
  background: -moz-linear-gradient(180deg, #E53062 0%, #FAA43E 100%);
  background: -webkit-linear-gradient(180deg, #E53062 0%, #FAA43E 100%);
  background: linear-gradient(180deg, #E53062 0%, #FAA43E 100%); }

.section-intro {
  background-image: url("../images/header_img@2x.png");
  background-position: right 10% top 50%;
  background-size: 100% 100% !important;
  position: relative;
  height: 100vh;
  width: 100%;
  justify-content: center; }
  .section-intro h3 {
    position: absolute;
    color: white;
    text-align: center;
    top: 450px;
    margin-left: auto;
    margin-right: auto;
    left: 0;
    right: 0; }

@media (max-width: 767px) {
  .section-intro {
    background-size: 290% 100% !important;
    background-position: left 50% top 0 !important;
    background-repeat: no-repeat;
    min-height: 53vh; } }

.img-header {
  height: 100vh;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  left: 0;
  right: 0;
  position: absolute; }

.img-title {
  width: 218px;
  height: 60px;
  top: 380px;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  left: 0;
  right: 0;
  position: absolute; }

span.case-study-tag {
  display: -ms-inline-flexbox;
  display: inline-flex;
  -ms-flex-align: center;
  align-items: center;
  -ms-flex-pack: center;
  justify-content: center;
  margin: 5px;
  line-height: 1.2;
  min-height: 28px;
  background-color: rgba(255, 255, 255, 0.15);
  color: #fff;
  font-size: 13px;
  font-weight: 400;
  padding: 1px 36px 0;
  border-radius: 50px; }

.case-study-tags {
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  left: 0;
  right: 0;
  bottom: 80px;
  position: absolute; }

.about-lines {
  position: absolute;
  width: 100%; }

.section-about {
  min-height: 70vh;
  padding: 70px 0 70px 0;
  background: #8135dd;
  background: -moz-linear-gradient(45deg, #8135dd 80%, #8B36DC 100%);
  background: -webkit-linear-gradient(45deg, #8135dd 80%, #8B36DC 100%);
  background: linear-gradient(45deg, #8135dd 80%, #8B36DC 100%); }
  .section-about h1 {
    z-index: 1;
    font-family: "Campton-Light";
    margin-top: 0;
    position: absolute;
    color: #2B2024;
    opacity: 0.2;
    line-height: 143px;
    font-size: 120px;
    top: 0; }
  .section-about:before {
    z-index: 0;
    display: block;
    content: '';
    position: absolute;
    left: 0;
    right: 0; }
  .section-about:before {
    top: 0;
    bottom: 60%; }
  .section-about section {
    background-size: auto 110%;
    background-repeat: no-repeat; }
    .section-about section:not(:last-of-type) {
      margin-bottom: 72px; }
    .section-about section h2 {
      margin-top: 60px;
      color: white;
      z-index: 2; }
    .section-about section p {
      color: white;
      font-family: "Campton-Light";
      margin-top: 50px;
      margin-bottom: 26px; }
  .section-about .about .container > * {
    margin-right: 47%; }
  .section-about .about {
    background-image: url("../images/about_img@2x.png");
    background-position: right 10% top 50%; }
  .section-about > .container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 96px; }

@media (min-width: 1601px) {
  .section-about .about {
    background-position: right 25% top 50%; } }

@media (max-width: 1400px) {
  .container {
    max-width: 980px; }
  .section-about .about {
    background-position: right 0 top 50%; } }

@media (max-width: 992px) {
  .section-about:before {
    top: 0;
    bottom: 90%;
    background-image: radial-gradient(100% 100% ellipse at 50% -15%, rgba(76, 58, 88, 0.06), rgba(59, 17, 89, 0)); }
  .section-about .header {
    margin-bottom: 300px; }
    .section-about .header h1 {
      top: 0; }
  .section-about .about-lines {
    margin-top: 550px; }
  .section-about section {
    background-size: auto 300px !important;
    background-position: left 50% top 120px !important; }
    .section-about section:not(:last-child) {
      margin-bottom: 15px; }
    .section-about section .container {
      display: flex;
      flex-direction: column; }
      .section-about section .container h3:first-of-type {
        font-size: 26px !important; }
      .section-about section .container > * {
        margin-left: 0 !important;
        margin-right: 0 !important; } }

@media (max-width: 767px) {
  .section-about {
    padding: 36px 0; }
    .section-about .header {
      margin-bottom: 300px; }
      .section-about .header h1 {
        top: 0; }
    .section-about section {
      background-size: auto 280px !important;
      background-position: left 50% top 130px !important; } }

.section-challenge {
  min-height: 70vh;
  padding: 70px 0 70px 0;
  background: #8135dd;
  background: -moz-linear-gradient(180deg, #8135dd 50%, #8840e3 100%);
  background: -webkit-linear-gradient(180deg, #8135dd 50%, #8840e3 100%);
  background: linear-gradient(180deg, #8135dd 50%, #8840e3 100%); }
  .section-challenge h1 {
    z-index: 1;
    font-family: "Campton-Light";
    margin-top: 0;
    position: absolute;
    color: #2B2024;
    opacity: 0.2;
    line-height: 143px;
    font-size: 120px;
    top: 0; }
  .section-challenge section {
    background-size: auto 100%;
    background-repeat: no-repeat; }
    .section-challenge section:not(:last-of-type) {
      margin-bottom: 72px; }
    .section-challenge section h2 {
      margin-top: 60px;
      color: white;
      z-index: 2; }
    .section-challenge section p {
      color: white;
      font-family: "Campton-Light";
      margin-top: 50px;
      margin-bottom: 26px; }
    .section-challenge section .btn {
      margin-top: 30px; }
  .section-challenge .challenge .container > * {
    margin-left: 47%;
    margin-right: 65px; }
  .section-challenge .challenge {
    background-image: url("../images/challenge_img@2x.png");
    background-position: left 40% top 50%; }
  .section-challenge > .container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 96px; }

@media (min-width: 1601px) {
  .section-challenge .challenge {
    background-position: right 70% top 50%; } }

@media (max-width: 1400px) {
  .container {
    max-width: 980px; }
  .section-challenge h1 {
    right: initial; }
  .section-challenge .challenge {
    background-position: right 50% top 50%;
    min-height: 450px; }
  .header {
    margin-bottom: 300px; }
    .header h1 {
      top: 0;
      right: initial; } }

@media (max-width: 992px) {
  .section-challenge:before {
    top: 0;
    bottom: 90%;
    background-color: rgba(76, 58, 88, 0.06); }
  .section-challenge .header {
    margin-bottom: 300px; }
  .section-challenge .about-lines {
    margin-top: 550px; }
  .section-challenge h2 {
    align-self: end;
    text-align: end; }
  .section-challenge h1 {
    top: 0;
    right: 2px; }
  .section-challenge section {
    background-size: auto 300px !important;
    background-position: left 50% top 120px !important; }
    .section-challenge section:not(:last-child) {
      margin-bottom: 15px; }
    .section-challenge section .container {
      display: flex;
      flex-direction: column; }
      .section-challenge section .container h3:first-of-type {
        font-size: 26px !important; }
      .section-challenge section .container > * {
        margin-left: 0 !important;
        margin-right: 0 !important; } }

@media (max-width: 767px) {
  .section-challenge {
    padding: 36px 0; }
    .section-challenge .section-title {
      margin-bottom: 0; }
      .section-challenge .section-title h3 {
        margin-top: 14px; }
    .section-challenge h1 {
      top: 0;
      right: 2px; }
    .section-challenge .header {
      margin-bottom: 360px; }
    .section-challenge section {
      background-size: auto 390px !important;
      background-position: left -3% top 130px !important; } }

.section-mockup {
  background-color: rgba(76, 58, 88, 0.06);
  background-image: url("../images/mockup@2x.png");
  min-height: 85vh;
  background-size: 100% 100% !important; }

@media (max-width: 767px) {
  .section-mockup {
    background-size: 180% auto !important;
    background-position: left 50% top 0 !important;
    background-repeat: no-repeat;
    min-height: 53vh; } }

.section-logo {
  min-height: 60vh;
  padding: 70px 0 70px 0;
  background: white; }
  .section-logo h1 {
    z-index: 1;
    font-family: "Campton-Light";
    margin-top: 0;
    position: absolute;
    color: #2B2024;
    opacity: 0.2;
    line-height: 143px;
    font-size: 120px;
    top: 0; }
  .section-logo:before {
    z-index: 0;
    display: block;
    content: '';
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 60%; }
  .section-logo section {
    background-size: auto 110%;
    background-repeat: no-repeat; }
    .section-logo section:not(:last-of-type) {
      margin-bottom: 72px; }
    .section-logo section h2 {
      margin-top: 60px;
      color: #8840E3;
      z-index: 2; }
    .section-logo section .body {
      color: #2B2024;
      font-family: "Campton-Medium", "Helvetica", "Segoe-UI", sans-serif;
      margin-top: 70px;
      margin-bottom: 26px;
      font-size: 15px;
      line-height: 21px;
      margin-right: 0; }
    .section-logo section .btn {
      margin-top: 30px; }
  .section-logo .logo {
    background-image: url("../images/Screen Shot 2020-07-20 at 1.39.47 PM.png");
    background-position: right 20% top 50%;
    background-size: auto 100%;
    min-height: 350px; }
  .section-logo > .container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 96px; }

@media (min-width: 1601px) {
  .section-about .logo {
    background-position: right 25% top 50%; } }

@media (max-width: 1400px) {
  .container {
    max-width: 980px; }
  .section-logo .logo {
    background-position: right 0 top 50%; } }

@media (max-width: 992px) {
  .section-logo:before {
    top: 0;
    bottom: 90%; }
  .section-logo .header {
    margin-bottom: 300px; }
    .section-logo .header h1 {
      top: 0;
      left: 20px; }
  .section-logo section {
    background-size: auto 300px !important;
    background-position: left 50% top 120px !important; }
    .section-logo section:not(:last-child) {
      margin-bottom: 15px; }
    .section-logo section .container {
      display: flex;
      flex-direction: column; } }

@media (max-width: 767px) {
  .section-logo {
    padding: 36px 0; }
    .section-logo .header {
      margin-bottom: 300px; }
      .section-logo .header h1 {
        top: 0; }
    .section-logo section {
      background-size: auto 280px !important;
      background-position: left 50% top 130px !important; } }

.section-application {
  background-image: url("../images/icon_mockup@2x.png");
  background-position: right 0 bottom 0;
  background-size: auto 100%;
  position: relative;
  background-repeat: no-repeat;
  height: 500px; }
  .section-application .logo {
    position: absolute;
    right: 50%;
    top: 40%;
    width: 250px; }
  .section-application .zigzag {
    position: absolute;
    bottom: 0;
    width: 100%; }

@media (max-width: 767px) {
  .section-application {
    background-size: auto 70% !important;
    background-position: right 0 bottom 0 !important;
    min-height: 53vh; }
    .section-application .logo {
      margin-left: auto;
      margin-right: auto;
      text-align: center;
      left: 0;
      top: 10px;
      right: 0; }
    .section-application .zigzag {
      position: absolute;
      bottom: 0;
      margin-left: auto;
      margin-right: auto;
      text-align: center;
      left: -25%;
      right: 0;
      width: 150%; } }

.section-style-guide {
  min-height: 70vh;
  padding: 70px 0 70px 0;
  background: #271a1f; }
  .section-style-guide h1 {
    z-index: 1;
    font-family: "Campton-Light";
    margin-top: 0;
    position: absolute;
    color: #060505;
    opacity: 0.2;
    line-height: 143px;
    font-size: 120px;
    top: 0; }
  .section-style-guide section {
    min-height: 600px;
    background-size: auto 100%;
    background-repeat: no-repeat; }
    .section-style-guide section:not(:last-of-type) {
      margin-bottom: 72px; }
    .section-style-guide section h2 {
      margin-top: 60px;
      color: #8840E3;
      z-index: 2; }
    .section-style-guide section p {
      color: white;
      font-family: "Campton-Light";
      margin-top: 50px;
      margin-bottom: 26px; }
    .section-style-guide section .btn {
      margin-top: 30px; }
  .section-style-guide .style-guide .container {
    position: relative;
    width: 100%;
    height: 100%; }
    .section-style-guide .style-guide .container .right > * {
      position: absolute;
      left: 57%;
      width: 380px; }
    .section-style-guide .style-guide .container .right .icons {
      top: 100px; }
    .section-style-guide .style-guide .container .left > * {
      position: absolute;
      left: 7%;
      width: 40%; }
    .section-style-guide .style-guide .container .left h2 {
      margin-top: 10px; }
    .section-style-guide .style-guide .container .left img {
      margin-top: 100px; }

@media (min-width: 1601px) {
  .section-style-guide .challenge {
    background-position: right 70% top 50%; } }

@media (max-width: 1400px) {
  .container {
    max-width: 980px; }
  .section-style-guide h1 {
    right: initial; }
  .section-style-guide .style-guide {
    background-position: right 50% top 50%;
    min-height: 450px; }
  .header {
    margin-bottom: 300px; }
    .header h1 {
      top: 0;
      right: initial; } }

@media (max-width: 992px) {
  .section-style-guide:before {
    top: 0;
    bottom: 90%;
    background-color: rgba(76, 58, 88, 0.06); }
  .section-style-guide .header {
    margin-bottom: 300px; }
  .section-style-guide .about-lines {
    margin-top: 20%; }
  .section-style-guide h2 {
    align-self: start;
    text-align: start; }
  .section-style-guide h1 {
    top: 0;
    left: 2px;
    right: initial !important; }
  .section-style-guide section {
    background-size: auto 300px !important;
    background-position: left 50% top 120px !important; }
    .section-style-guide section:not(:last-child) {
      margin-bottom: 15px; }
    .section-style-guide section .container {
      position: relative;
      width: 100%;
      height: 900px !important; }
      .section-style-guide section .container .right {
        position: absolute;
        top: 20px;
        margin-left: auto;
        margin-right: auto;
        text-align: start;
        left: 0;
        right: 0; }
        .section-style-guide section .container .right > * {
          margin-left: auto;
          margin-right: auto;
          text-align: start;
          right: 0;
          left: 7% !important;
          width: initial !important; }
        .section-style-guide section .container .right .icons {
          top: 100px; }
      .section-style-guide section .container .left {
        position: absolute;
        top: 400px;
        margin-left: auto;
        margin-right: auto;
        text-align: center;
        left: 0;
        right: 0; }
        .section-style-guide section .container .left > * {
          margin-left: auto;
          margin-right: auto;
          text-align: start;
          left: 0 !important;
          right: 0;
          width: initial !important; }
        .section-style-guide section .container .left h2 {
          margin-left: 90px; }
        .section-style-guide section .container .left img {
          width: 70% !important; } }

@media (max-width: 767px) {
  .section-style-guide {
    padding: 36px 0; }
    .section-style-guide .section-title {
      margin-bottom: 0; }
      .section-style-guide .section-title h3 {
        margin-top: 14px; }
    .section-style-guide h1 {
      top: 0;
      right: 2px; }
    .section-style-guide .right {
      margin-left: 50px !important;
      margin-right: 50px !important; }
    .section-style-guide section {
      background-size: auto 390px !important;
      background-position: left -3% top 130px !important; } }

.section-images {
  width: 100%;
  background-color: #271a1f;
  background: -moz-linear-gradient(180deg, #271a1f 0%, #2b2025 100%);
  background: -webkit-linear-gradient(180deg, #271a1f 0%, #2b2025 100%);
  background: linear-gradient(180deg, #271a1f 0%, #2b2025 100%); }
  .section-images .section-title h2 {
    text-align: start;
    color: #8840E3; }
  .section-images img {
    width: 100%; }

.section-main-screen {
  min-height: 1500px;
  padding: 0 0 70px 0;
  background: white; }
  .section-main-screen img {
    width: 100%; }
  .section-main-screen h1 {
    z-index: 1;
    font-family: "Campton-Light";
    margin-top: 0;
    position: absolute;
    color: #2B2024;
    opacity: 0.2;
    line-height: 143px;
    font-size: 120px;
    top: 0; }
  .section-main-screen:before {
    z-index: 0;
    display: block;
    content: '';
    position: absolute;
    left: 0;
    right: 0; }
  .section-main-screen:before {
    top: 0;
    bottom: 60%; }
  .section-main-screen section {
    background-size: auto 100%;
    background-repeat: no-repeat; }
    .section-main-screen section:not(:last-of-type) {
      margin-bottom: 72px; }
    .section-main-screen section h2 {
      margin-top: 60px;
      color: #8840E3;
      z-index: 2; }
    .section-main-screen section p {
      color: black;
      font-family: "Campton-Light";
      margin-top: 50px;
      margin-bottom: 26px; }
  .section-main-screen .main-screen {
    min-height: 1500px;
    background-image: url("../images/main_screens@2x.png");
    background-position: right 10% top 50%; }
    .section-main-screen .main-screen .container > * {
      margin-right: 47%; }
  .section-main-screen > .container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 96px; }

@media (min-width: 1601px) {
  .section-main-screen .main-screen {
    background-position: right 25% top 50%; } }

@media (max-width: 1400px) {
  .container {
    max-width: 780px; }
  .section-main-screen .main-screen {
    background-size: 120% auto;
    background-position: right 50% top 50%; } }

@media (max-width: 992px) {
  .section-main-screen:before {
    top: 0;
    bottom: 90%;
    background-image: radial-gradient(100% 100% ellipse at 50% -15%, rgba(76, 58, 88, 0.06), rgba(59, 17, 89, 0)); }
  .section-main-screen .header {
    margin-bottom: 30px; }
    .section-main-screen .header h1 {
      top: 0; }
  .section-main-screen section {
    background-size: auto 100% !important;
    background-position: left 50% top 120px !important; }
    .section-main-screen section:not(:last-child) {
      margin-bottom: 15px; }
    .section-main-screen section .container {
      display: flex;
      flex-direction: column; }
      .section-main-screen section .container h3:first-of-type {
        font-size: 26px !important; }
      .section-main-screen section .container > * {
        margin-left: 0 !important;
        margin-right: 0 !important; } }

@media (max-width: 767px) {
  .section-main-screen {
    padding: 0;
    min-height: 120vh; }
    .section-main-screen .main-screen {
      min-height: 115vh; }
    .section-main-screen .header {
      margin-bottom: 30px; }
      .section-main-screen .header h1 {
        top: 0; }
    .section-main-screen section {
      background-size: auto 60vh !important;
      background-position: left 50% top 320px !important; } }

.section-main-screen-second {
  max-height: 2300px;
  padding: 0 0 70px 0;
  background: white; }
  .section-main-screen-second img {
    width: 100%; }
  .section-main-screen-second h1 {
    z-index: 1;
    font-family: "Campton-Light";
    margin-top: 0;
    position: absolute;
    color: #2B2024;
    opacity: 0.2;
    line-height: 143px;
    font-size: 120px;
    top: 0; }
  .section-main-screen-second:before {
    z-index: 0;
    display: block;
    content: '';
    position: absolute;
    left: 0;
    right: 0; }
  .section-main-screen-second:before {
    top: 0;
    bottom: 60%; }
  .section-main-screen-second .left {
    position: absolute;
    top: 20px;
    left: 0; }
  .section-main-screen-second .right {
    position: absolute;
    top: 20px;
    left: 50%;
    margin-right: 0 !important; }
  .section-main-screen-second section {
    background-size: auto 100%;
    background-repeat: no-repeat; }
    .section-main-screen-second section:not(:last-of-type) {
      margin-bottom: 72px; }
    .section-main-screen-second section h2 {
      margin-top: 60px;
      color: black;
      z-index: 2; }
    .section-main-screen-second section p {
      color: black;
      font-family: "Campton-Light";
      margin-top: 50px;
      margin-bottom: 26px; }
  .section-main-screen-second .main-screen-second {
    min-height: 2700px;
    background-image: url("../images/new_project@2x.png");
    background-position: right 40% top 10%; }
    .section-main-screen-second .main-screen-second .container {
      position: relative; }
      .section-main-screen-second .main-screen-second .container > * {
        margin-top: 90px;
        margin-right: 55%; }
  .section-main-screen-second > .container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 96px; }

@media (min-width: 1601px) {
  .section-main-screen-second .main-screen-second {
    background-position: right 25% top 10%; } }

@media (max-width: 1400px) {
  .container {
    max-width: 980px; }
  img {
    display: block; }
  .section-main-screen-second .main-screen-second {
    background-size: 130% auto !important;
    background-position: left 60% top 20%; } }

@media (max-width: 992px) {
  .section-main-screen-second img {
    display: none; }
  .section-main-screen-second .main-screen-second {
    min-height: 1900px; }
  .section-main-screen-second:before {
    top: 0;
    bottom: 90%; }
  .section-main-screen-second .header {
    margin-bottom: 30px; }
    .section-main-screen-second .header h1 {
      top: 0; }
  .section-main-screen-second section {
    background-size: 200% auto !important;
    background-position: left 60% top 500px !important; }
    .section-main-screen-second section:not(:last-child) {
      margin-bottom: 15px; }
    .section-main-screen-second section .container {
      display: flex;
      flex-direction: column; }
      .section-main-screen-second section .container h3:first-of-type {
        font-size: 26px !important; }
      .section-main-screen-second section .container > * {
        margin-left: 0 !important;
        margin-right: 0 !important;
        margin-top: 0 !important; }
      .section-main-screen-second section .container .left {
        position: absolute;
        top: 20px;
        left: 10px; }
      .section-main-screen-second section .container .right {
        position: absolute;
        top: 200px;
        left: 10px;
        margin-right: 0 !important; } }

@media (max-width: 767px) {
  .section-main-screen-second {
    padding: 0; }
    .section-main-screen-second .main-screen-second {
      min-height: 1400px; }
    .section-main-screen-second .header {
      margin-bottom: 30px; }
      .section-main-screen-second .header h1 {
        top: 0; }
    .section-main-screen-second section {
      background-size: 200% auto !important;
      background-position: left 60% top 800px !important; } }

.section-flight-mode {
  min-height: 800px;
  padding: 0 0 70px 0;
  background: white; }
  .section-flight-mode img {
    width: 100%; }
  .section-flight-mode h1 {
    z-index: 1;
    font-family: "Campton-Light";
    margin-top: 0;
    position: absolute;
    color: #2B2024;
    opacity: 0.2;
    line-height: 143px;
    font-size: 120px;
    top: 0; }
  .section-flight-mode:before {
    z-index: 0;
    display: block;
    content: '';
    position: absolute;
    left: 0;
    right: 0; }
  .section-flight-mode:before {
    top: 0;
    bottom: 60%; }
  .section-flight-mode .left {
    position: absolute;
    top: 90px;
    left: 0; }
  .section-flight-mode section {
    background-size: auto 100%;
    background-repeat: no-repeat; }
    .section-flight-mode section:not(:last-of-type) {
      margin-bottom: 72px; }
    .section-flight-mode section h2 {
      margin-top: 60px;
      color: black;
      z-index: 2; }
    .section-flight-mode section p {
      color: black;
      font-family: "Campton-Light";
      margin-top: 50px;
      margin-bottom: 26px; }
  .section-flight-mode .flight-mode {
    min-height: 1800px;
    background-image: url("../images/flight_mode@2x.png");
    background-position: right 0 top 0; }
    .section-flight-mode .flight-mode .container {
      position: relative; }
      .section-flight-mode .flight-mode .container > * {
        margin-top: 90px;
        margin-right: 55%; }
  .section-flight-mode > .container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 96px; }

@media (min-width: 1601px) {
  .section-flight-mode .flight-mode {
    background-position: right 0 top 10%; } }

@media (max-width: 1400px) {
  .container {
    max-width: 980px; }
  .section-flight-mode .flight-mode {
    background-size: 110% auto !important;
    background-position: right 0 top 10%; } }

@media (max-width: 992px) {
  .section-flight-mode img {
    display: none; }
  .section-flight-mode .flight-mode {
    min-height: 1000px; }
  .section-flight-mode:before {
    top: 0;
    bottom: 90%; }
  .section-flight-mode .header {
    margin-bottom: 30px; }
    .section-flight-mode .header h1 {
      top: 0; }
  .section-flight-mode section {
    background-size: 110% auto !important;
    background-position: right 0 top 50px !important; }
    .section-flight-mode section:not(:last-child) {
      margin-bottom: 15px; }
    .section-flight-mode section .container {
      display: flex;
      flex-direction: column; }
      .section-flight-mode section .container h3:first-of-type {
        font-size: 26px !important; }
      .section-flight-mode section .container > * {
        margin-left: 0 !important;
        margin-right: 0 !important;
        margin-top: 0 !important; }
      .section-flight-mode section .container .left {
        position: absolute;
        top: 20px;
        left: 10px; } }

@media (max-width: 767px) {
  .section-flight-mode {
    padding: 0; }
    .section-flight-mode .flight-mode {
      min-height: 800px; }
    .section-flight-mode .header {
      margin-bottom: 30px; }
      .section-flight-mode .header h1 {
        top: 0; }
    .section-flight-mode section {
      background-size: 100% auto !important;
      background-position: right 0 top 300px !important; } }

.section-prototype {
  min-height: 70vh;
  padding: 70px 0 70px 0;
  background: white; }
  .section-prototype h1 {
    z-index: 1;
    font-family: "Campton-Light";
    margin-top: 0;
    position: absolute;
    color: #2B2024;
    opacity: 0.2;
    line-height: 143px;
    font-size: 120px;
    top: 0; }
  .section-prototype .btn {
    display: none; }
  .section-prototype .zigzag {
    position: absolute;
    bottom: 0;
    width: 100%; }
  .section-prototype section {
    background-size: auto 100%;
    background-repeat: no-repeat; }
    .section-prototype section:not(:last-of-type) {
      margin-bottom: 72px; }
    .section-prototype section iframe {
      margin-left: 0 !important; }
    .section-prototype section h2 {
      margin-top: 60px;
      color: #8840E3;
      z-index: 2; }
    .section-prototype section p {
      color: black;
      font-family: "Campton-Light";
      margin-top: 50px;
      margin-bottom: 26px; }
    .section-prototype section .btn {
      margin-top: 30px; }
  .section-prototype .header {
    position: absolute;
    top: 350px; }
    .section-prototype .header img {
      float: right;
      width: 100px; }
  .section-prototype .prototype .container > * {
    margin-left: 47%;
    margin-right: 65px; }
  .section-prototype > .container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 96px; }

@media (min-width: 1601px) {
  .section-prototype .prototype {
    background-position: right 70% top 50%; } }

@media (max-width: 1400px) {
  .container {
    max-width: 980px; }
  .section-prototype h1 {
    right: initial; }
  .section-prototype .prototype {
    background-position: right 50% top 50%;
    min-height: 780px; }
  .header {
    margin-bottom: 300px; }
    .header h1 {
      top: 0;
      right: initial; } }

@media (max-width: 992px) {
  .section-prototype:before {
    top: 0;
    bottom: 90%;
    background-color: rgba(76, 58, 88, 0.06); }
  .section-prototype .header {
    margin-bottom: 300px; }
  .section-prototype iframe {
    display: none; }
  .section-prototype h2 {
    align-self: start;
    text-align: start; }
  .section-prototype h1 {
    top: 0;
    left: 2px; }
  .section-prototype section {
    background-size: auto 300px !important;
    background-position: left 50% top 120px !important; }
    .section-prototype section:not(:last-child) {
      margin-bottom: 15px; }
    .section-prototype section .btn {
      display: block;
      color: white;
      background-color: #8840E3;
      margin-top: 100px; }
    .section-prototype section .container {
      display: flex;
      flex-direction: column; }
      .section-prototype section .container h3:first-of-type {
        font-size: 26px !important; }
      .section-prototype section .container > * {
        margin-left: 20%;
        margin-right: 10px !important; } }

@media (max-width: 767px) {
  .section-prototype {
    padding: 36px 0; }
    .section-prototype .section-title {
      margin-bottom: 0; }
      .section-prototype .section-title h3 {
        margin-top: 14px; }
    .section-prototype .zigzag {
      position: absolute;
      bottom: 0;
      margin-left: auto;
      margin-right: auto;
      text-align: center;
      left: -25%;
      right: 0;
      width: 150%; }
    .section-prototype h1 {
      top: 0;
      right: 2px; }
    .section-prototype .container > * {
      margin-left: 0 !important;
      margin-right: 0 !important; }
    .section-prototype section {
      background-size: auto 390px !important;
      background-position: left -3% top 130px !important; } }

.section-technologies {
  min-height: 70vh;
  padding: 70px 0 70px 0;
  background: #271a1f; }
  .section-technologies h1 {
    z-index: 1;
    font-family: "Campton-Light";
    margin-top: 0;
    position: absolute;
    color: #060505;
    opacity: 0.2;
    line-height: 143px;
    font-size: 120px;
    top: 0; }
  .section-technologies section {
    min-height: 600px;
    background-size: auto 100%;
    background-repeat: no-repeat; }
    .section-technologies section:not(:last-of-type) {
      margin-bottom: 72px; }
    .section-technologies section h2 {
      margin-top: 60px;
      color: #8840E3;
      z-index: 2; }
    .section-technologies section h3 {
      margin-top: 60px;
      color: white;
      z-index: 2; }
    .section-technologies section p {
      color: white;
      font-family: "Campton-Light";
      margin-top: 50px;
      margin-bottom: 26px; }
    .section-technologies section .btn {
      margin-top: 30px; }
  .section-technologies .technologies .container {
    position: relative;
    height: 100%; }
    .section-technologies .technologies .container .title {
      display: flex;
      align-items: center; }
      .section-technologies .technologies .container .title img {
        margin-bottom: 10px;
        width: 26px; }
      .section-technologies .technologies .container .title > * {
        display: inline;
        vertical-align: middle; }
      .section-technologies .technologies .container .title h3 {
        margin: auto 0 auto 20px; }
    .section-technologies .technologies .container .header {
      margin-bottom: 80px; }
    .section-technologies .technologies .container .right > * {
      position: absolute;
      left: 57%;
      width: 380px; }
    .section-technologies .technologies .container .left > * {
      position: absolute;
      left: 10px;
      width: 380px; }
    .section-technologies .technologies .container .left h2 {
      margin-top: 10px; }

@media (min-width: 1601px) {
  .section-technologies .technologies {
    background-position: right 70% top 50%; } }

@media (max-width: 1400px) {
  .container {
    max-width: 980px; }
  .section-technologies h1 {
    right: initial; }
  .section-technologies .technologies {
    background-position: right 50% top 50%;
    min-height: 450px; }
  .header {
    margin-bottom: 300px; }
    .header h1 {
      top: 0;
      right: initial; } }

@media (max-width: 992px) {
  .section-technologies:before {
    top: 0;
    bottom: 90%;
    background-color: rgba(76, 58, 88, 0.06); }
  .section-technologies .header {
    margin-bottom: 300px;
    margin-left: 20px; }
  .section-technologies .about-lines {
    margin-top: 20%; }
  .section-technologies h2 {
    align-self: start;
    text-align: start; }
  .section-technologies h1 {
    top: 0;
    left: 20px;
    right: initial !important; }
  .section-technologies section {
    background-size: auto 300px !important;
    background-position: left 50% top 120px !important; }
    .section-technologies section:not(:last-child) {
      margin-bottom: 15px; }
    .section-technologies section .container {
      position: relative;
      width: 100%;
      height: 900px !important; }
      .section-technologies section .container .right {
        position: absolute;
        top: 400px;
        margin-left: auto;
        margin-right: 30px;
        text-align: start;
        left: 0;
        right: 0; }
        .section-technologies section .container .right > * {
          margin-left: auto;
          margin-right: auto;
          text-align: start;
          right: 0;
          left: 7% !important;
          width: initial !important; }
      .section-technologies section .container .left {
        position: absolute;
        top: 200px;
        margin-left: auto;
        margin-right: auto;
        text-align: start;
        left: 0;
        right: 0; }
        .section-technologies section .container .left > * {
          margin-left: auto;
          text-align: start;
          margin-right: 30px;
          left: 7% !important;
          width: initial !important; }
        .section-technologies section .container .left h2 {
          margin-left: 90px; } }

@media (max-width: 767px) {
  .section-technologies {
    padding: 36px 0; }
    .section-technologies .section-title {
      margin-bottom: 0; }
      .section-technologies .section-title h3 {
        margin-top: 14px; }
    .section-technologies h1 {
      top: 0;
      right: 2px; }
    .section-technologies .right, .section-technologies .left {
      margin-left: 20px !important;
      margin-right: 20px !important; }
    .section-technologies section {
      background-size: auto 390px !important;
      background-position: left -3% top 130px !important; } }

.line-center {
  display: flex;
  justify-content: center;
  align-items: center; }

.team {
  align-self: center;
  width: 152px; }

.photo-wrapper {
  display: flex;
  flex-direction: column; }

.title-paragraph {
  color: #FFFFFF;
  font-family: "Campton-Bold";
  font-size: 24px;
  line-height: 36px;
  text-align: center;
  padding-bottom: 10px; }

.name {
  height: 92px;
  width: 335px;
  color: #FFFFFF;
  font-family: "Campton-Bold";
  font-size: 15px;
  line-height: 23px;
  text-align: center; }

.no-display-desktop {
  display: none; }

.section-squad {
  min-height: 70vh;
  padding: 70px 0 70px 0;
  background-color: #271a1f;
  background: -moz-linear-gradient(180deg, #271a1f 0%, #2b2025 100%);
  background: -webkit-linear-gradient(180deg, #271a1f 0%, #2b2025 100%);
  background: linear-gradient(180deg, #271a1f 0%, #2b2025 100%); }
  .section-squad h1 {
    z-index: 1;
    font-family: "Campton-Light";
    margin-top: 0;
    position: absolute;
    color: #060505;
    opacity: 0.2;
    line-height: 143px;
    font-size: 120px;
    top: 0; }
  .section-squad section {
    min-height: 600px;
    background-size: auto 100%;
    background-repeat: no-repeat; }
    .section-squad section:not(:last-of-type) {
      margin-bottom: 72px; }
    .section-squad section h2 {
      margin-top: 60px;
      color: #8840E3;
      z-index: 2; }
    .section-squad section h3 {
      margin-top: 60px;
      color: white;
      z-index: 2; }
    .section-squad section p {
      color: white;
      font-family: "Campton-Light";
      margin-top: 50px;
      margin-bottom: 26px; }
    .section-squad section .btn {
      margin-top: 30px; }
  .section-squad .squad .container {
    position: relative;
    height: 100%; }
    .section-squad .squad .container .title {
      display: flex;
      align-items: center; }
      .section-squad .squad .container .title img {
        margin-bottom: 10px;
        width: 26px; }
      .section-squad .squad .container .title > * {
        display: inline;
        vertical-align: middle; }
      .section-squad .squad .container .title h3 {
        margin: auto 0 auto 20px; }
    .section-squad .squad .container .header {
      margin-bottom: 80px; }
    .section-squad .squad .container .right > * {
      position: absolute;
      left: 57%;
      width: 380px; }
    .section-squad .squad .container .left > * {
      position: absolute;
      left: 10px;
      width: 380px; }
    .section-squad .squad .container .left h2 {
      margin-top: 10px; }

@media (min-width: 1601px) {
  .section-squad .squad {
    background-position: right 70% top 50%; } }

@media (max-width: 1400px) {
  .container {
    max-width: 980px; }
  .section-squad h1 {
    right: initial; }
  .section-squad .squad {
    background-position: right 50% top 50%; }
  .header {
    margin-bottom: 300px; }
    .header h1 {
      top: 0;
      right: initial; } }

@media (max-width: 992px) {
  .section-squad:before {
    top: 0;
    bottom: 90%;
    background-color: rgba(76, 58, 88, 0.06); }
  .section-squad .header {
    margin-bottom: 300px;
    margin-left: 20px; }
  .section-squad .about-lines {
    margin-top: 20%; }
  .section-squad h2 {
    align-self: start;
    text-align: start; }
  .section-squad h1 {
    top: 0;
    left: 20px;
    right: initial !important; }
  .section-squad section {
    background-size: auto 300px !important;
    background-position: left 50% top 120px !important; }
    .section-squad section:not(:last-child) {
      margin-bottom: 15px; }
    .section-squad section .container {
      position: relative;
      width: 100%; }
      .section-squad section .container .right {
        position: absolute;
        top: 400px;
        margin-left: auto;
        margin-right: 30px;
        text-align: start;
        left: 0;
        right: 0; }
        .section-squad section .container .right > * {
          margin-left: auto;
          margin-right: auto;
          text-align: start;
          right: 0;
          left: 7% !important;
          width: initial !important; }
      .section-squad section .container .left {
        position: absolute;
        top: 200px;
        margin-left: auto;
        margin-right: auto;
        text-align: start;
        left: 0;
        right: 0; }
        .section-squad section .container .left > * {
          margin-left: auto;
          text-align: start;
          margin-right: 30px;
          left: 7% !important;
          width: initial !important; }
        .section-squad section .container .left h2 {
          margin-left: 90px; } }

@media (max-width: 767px) {
  .section-squad {
    padding: 36px 0; }
    .section-squad .no-display-desktop {
      display: block; }
    .section-squad .no-display-phone {
      display: none; }
    .section-squad .section-title {
      margin-bottom: 0; }
      .section-squad .section-title h3 {
        margin-top: 14px; }
    .section-squad h1 {
      top: 0;
      right: 2px; }
    .section-squad .right, .section-squad .left {
      margin-left: 20px !important;
      margin-right: 20px !important; }
    .section-squad section {
      background-size: auto 390px !important;
      background-position: left -3% top 130px !important; } }

.section-last {
  min-height: 70vh;
  padding: 0;
  position: relative; }
  .section-last .zigzag {
    position: absolute;
    top: 0;
    z-index: 3;
    width: 100%; }
  .section-last h1 {
    z-index: 1;
    font-family: "Campton-Light";
    margin-top: 0;
    position: absolute;
    color: #2B2024;
    opacity: 0.2;
    line-height: 143px;
    font-size: 120px;
    top: 0; }
  .section-last:before {
    z-index: 0;
    display: block;
    content: '';
    position: absolute;
    left: 0;
    right: 0; }
  .section-last:before {
    top: 0;
    bottom: 60%; }
  .section-last section {
    min-height: 70vh;
    background-size: 100% 100%;
    background-repeat: no-repeat; }
    .section-last section:not(:last-of-type) {
      margin-bottom: 72px; }
    .section-last section h2 {
      font-size: 24px;
      margin: 40px auto;
      color: #2B2024;
      z-index: 2; }
  .section-last .last .container > * {
    margin-top: 200px;
    margin-right: 65%; }
  .section-last .last .container img {
    width: 250px; }
    .section-last .last .container img.apple {
      width: 160px; }
  .section-last .header {
    justify-content: center;
    text-align: center;
    align-items: center;
    margin-bottom: 100px !important; }
  .section-last .last {
    background-image: url("../images/presentation_mockup@2x.png");
    background-position: right 0 top 0; }
  .section-last > .container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 96px; }

@media (min-width: 1601px) {
  .section-last .last {
    background-position: right 0 top 0; } }

@media (max-width: 1400px) {
  .container {
    max-width: 980px; }
  .section-last .last {
    background-position: right 0 top 0; } }

@media (max-width: 992px) {
  .section-last:before {
    top: 0;
    bottom: 90%; }
  .section-last .header img {
    align-self: center;
    margin: auto;
    width: 70%; }
    .section-last .header img.apple {
      width: 50%; }
  .section-last .header h1 {
    top: 0; }
  .section-last section {
    background-image: url("../images/presentation_mockup_mobile@2x.png") !important;
    background-size: 100% 100% !important;
    background-position: left 0 top 0 !important; }
    .section-last section:not(:last-child) {
      margin-bottom: 15px; }
    .section-last section .container {
      display: flex;
      flex-direction: column; }
      .section-last section .container h3:first-of-type {
        font-size: 26px !important; }
      .section-last section .container > * {
        margin-top: 500px !important;
        margin-left: 0 !important;
        margin-right: 0 !important; } }

@media (max-width: 767px) {
  .section-last {
    padding: 0 0; }
    .section-last section {
      background-size: 100% 100% !important;
      background-position: left 0 top 0 !important; } }
